<form class="wrapper">
  <div class="wrapper-2">
    <h3 class="mt-3 text-center">Validated form example</h3>
    <div class="alert alert-info mt-5" *ngIf="!isValidName">
      Incorrect Name!
    </div>
    <div class="mt-3 row">
      <label for="nameOfUser" class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-10 wrapper-name">
        <input
          type="text"
          name="userName"
          class="form-control input-name"
          id="nameOfUser"
          #name
        />
        <button
          class="btn btn-warning btn-name"
          (click)="nameValidation(name.value)"
        >
          Confirm
        </button>
      </div>
    </div>
    <div class="alert alert-info mt-5" *ngIf="!isValidPsswd">
      Incorrect Password!
    </div>
    <div class="mt-3 row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10 wrapper-psswd">
        <input
          type="password"
          class="form-control input-psswd"
          id="password"
          #psswd
        />
        <button
          class="btn btn-warning btn-psswd"
          (click)="psswdValidation(psswd.value)"
        >
          Confirm
        </button>
      </div>
    </div>
    <div class="text-center">
      <button class="m-4 btn btn-info" (click)="resetUserName()">
        Reset User Name
      </button>

      <button class="m-4 btn btn-info" (click)="resetPassword()">
        Reset Password
      </button>
    </div>
  </div>
</form>
